---
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";

type Props = {
  team: CollectionEntry<"homepage">["data"]["team"];
};

const { team } = Astro.props;
---

<section class="section" id="team">
  <div class="container">
    <div class="flex justify-center mb-16">
      <p
        class="text-3xl tracking-tighter text-center font-secondary [&>strong]:font-tertiary [&>strong]:tracking-normal [&>strong]:italic [&>strong]:block [&>strong]:font-normal md:text-3xl lg:text-4xl text-text-light/90 mb-10 leading-snug text-balance"
        set:html={markdownify(team.headline)}
        data-aos="fade-up-sm"
      />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mx-auto">
      {
        team.members.map((member: any, index: number) => (
          <div
            class="group bg-background/60 glass rounded-lg p-2 transition-all duration-500 flex gap-2 lg:flex-col flex-col"
            data-aos="fade-up-sm"
            data-aos-delay={50 + index * 100}
          >
            <div class="flex flex-row gap-6 bg-background overflow-hidden rounded-lg justify-end relative">
              <div
                class="top-0 left-0 absolute h-40 right-[35%] mask-[url(/mask.svg)] mask-cover mask-top-right shrink-0 overflow-hidden"
                style={{
                  backgroundColor: member.background,
                }}
              >
                <img
                  src={member.image}
                  alt={member.name}
                  class="aspect-square h-full object-cover ml-[2%]"
                />
              </div>
              <div class="flex gap-2 justify-between text-right flex-col p-6 relative z-1">
                <div class="text-base tracking-tight">
                  <h4
                    set:html={markdownify(member.name)}
                    class="text-base font-primary text-text-light"
                  />
                  <p class="text-base mt-1">{member.role}</p>
                </div>
                <p class="text-primary-tint-2 text-base text-right mt-6">
                  {member.epithet}
                </p>
              </div>
            </div>
            <p
              set:html={markdownify(member.bio)}
              class="text-light/80 text-base leading-relaxed font-primary flex-1 p-6"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
